p{
    color: white; 
    background-color: brown;
}
pre{
    color: black;
    background-color: khaki ;
}
h1{
color: brown;

}
b{
    color: black;
}
i{
    color: white;
    background-color: black;
}